:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #333; /* Set background to dark grey */
  color: #fff; /* Adjust text color for better contrast */
}

main {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  color: #0070f3;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
